// ██╗..██╗██╗██████╗.██████╗.███████╗███╗...██╗
// ██║..██║██║██╔══██╗██╔══██╗██╔════╝████╗..██║
// ███████║██║██║..██║██║..██║█████╗..██╔██╗.██║
// ██╔══██║██║██║..██║██║..██║██╔══╝..██║╚██╗██║
// ██║..██║██║██████╔╝██████╔╝███████╗██║.╚████║
// ╚═╝..╚═╝╚═╝╚═════╝.╚═════╝.╚══════╝╚═╝..╚═══╝
// .............................................

@import "../../tokens/layout.scss";

// Escondido siempre

.bc-none {
  display: none;
}
.bc-block {
  display: block;
}

@each $name, $map in $breakpoints  {
  @if $name != gen {
    @media #{map-get($map, breakpoint-rule)} {
      .bc-#{$name}-none {
        display: none;
      }
      .bc-#{$name}-block {
        display: block;
      }
    }
  }
}
